{%- liquid

  # ** Purpose **
  # This code generates the main media container that can be shown as a slider or as a grid.

  assign first_item_class = ''
  if md_two_columns and first_item_full
    assign first_item_class = 'md-item-span-2'
  endif

  # If the section object is not found, the snippet is being used in the quick view
  if section
    assign section_id = section.id
  else
    assign section_id = slider_section_id | default: 'quick-view'
  endif

  assign filtered_media_ids = filtered_media_ids | default: ''
  assign filtered_media_count = filtered_media_count | default: product.media.size
  assign attached_to_variant = product.images | where: 'attached_to_variant?', true
-%}

<gridy-slider
  id="slider-{{ section_id }}"
  class="gridy-slider product-media-slider"
  data-mobile-enabled="{{ slider_mobile }}"
  data-tablet-enabled="{{ slider_mobile }}"
  data-desktop-enabled="{{ slider_desktop }}"
  data-arrows="true"
  {%- if product.selected_or_first_available_variant.featured_media.id -%}
  data-init-scroll-to="item-{{ product.selected_or_first_available_variant.featured_media.id }}"
  {%- endif -%}>

  <div
    class="gridy-track scrollbar--hide grid sm-gap grid-cols-1{% if md_two_columns %} md-grid-cols-2{% endif %}{% if slide_peek %} slide-peek{% endif %}"
    style="
      --gap: {{ media_gap | default: '24px' }};
      --sm-gap: {{ sm_media_gap | default: '3px' }};
      --sm-br: {{ sm_border_radius | append: 'px' }};">
    {%- if product == nil -%}
      {%- assign item_id = 'item-' | append: section_id | append: '-' | append: forloop.index -%}
      <figure id="{{ item_id }}" class="media {{ aspect_ratio }}">
        {{ 'product-' | append: forloop.index | placeholder_svg_tag }}
      </figure>
    {%- else -%}
      {%- assign shown_index = 0 -%}
      {% if variant_images_mode == 'selected' and filtered_media_ids != '' %}
        {%- liquid
          assign shown_index = shown_index | plus: 1
          if shown_index == 1
            assign custom_classes = first_item_class
          else
            assign custom_classes = ''
          endif
          assign lazyload = false
          if shown_index > 2
            assign lazyload = true
          endif
        -%}
          <div id="item-{{ product.selected_or_first_available_variant.featured_media.id }}" class="product-media sm-br {{ custom_classes }}">
          {% if product.selected_or_first_available_variant.featured_media.media_type == 'image' and show_zoom_mobile or show_zoom_desktop %}
            <a href="#modal--zoom-gallery-{{ section_id }}?scroll=modal-item-{{ product.selected_or_first_available_variant.featured_media.id }}" class="product-media-zoom-link{% unless show_zoom_mobile %} sm-down-hide{% endunless %}{% unless show_zoom_desktop %} sm-hide{% endunless %}" aria-hidden="true"></a>
          {% endif %}
          <span class="visually-hidden">
            {% if context == 'product-template' %}
              {% if show_zoom_mobile or show_zoom_desktop %}
                {{ 'accessibility.media_index_and_modal_info' | t: index: shown_index }}
              {% else %}
                {{ 'accessibility.media_index_in_product_template' | t: index: shown_index }}
              {% endif %}
            {% else %}
              {{ 'accessibility.media_index_in_quick_buy_modal' | t: index: shown_index }}
            {% endif %}
          </span>
          {%- render 'product-media',
            media: product.selected_or_first_available_variant.featured_media,
            aspect_ratio: aspect_ratio,
            lazyload: lazyload,
            sizing_rule: sizing_rule,
            background_color: background_color,
            sizes: sizes
          -%}
        </div>
        {% endif %}

      {%- for media in product.media -%}
        {%- liquid
          if filtered_media_ids != ''
            # When "selected" mode is enabled, we will skip that are attached to any variant
            if variant_images_mode == 'selected' and attached_to_variant contains media.src
              continue
            endif

            assign media_id_token = ',' | append: media.id | append: ','
            unless filtered_media_ids contains media_id_token
              continue
            endunless
          endif
          assign shown_index = shown_index | plus: 1
          if shown_index == 1
            assign custom_classes = first_item_class
          else
            assign custom_classes = ''
          endif
          assign lazyload = false
          if shown_index > 2
            assign lazyload = true
          endif
        -%}
      <div id="item-{{ media.id }}" class="product-media sm-br {{ custom_classes }}">
        {% if media.media_type == 'image' and show_zoom_mobile or show_zoom_desktop %}
          <a href="#modal--zoom-gallery-{{ section_id }}?scroll=modal-item-{{ media.id }}" class="product-media-zoom-link{% unless show_zoom_mobile %} sm-down-hide{% endunless %}{% unless show_zoom_desktop %} sm-hide{% endunless %}" aria-hidden="true"></a>
        {% endif %}
        <span class="visually-hidden">
          {% if context == 'product-template' %}
            {% if show_zoom_mobile or show_zoom_desktop %}
              {{ 'accessibility.media_index_and_modal_info' | t: index: shown_index }}
            {% else %}
              {{ 'accessibility.media_index_in_product_template' | t: index: shown_index }}
            {% endif %}
          {% else %}
            {{ 'accessibility.media_index_in_quick_buy_modal' | t: index: shown_index }}
          {% endif %}
        </span>
        {%- render 'product-media',
          media: media,
          aspect_ratio: aspect_ratio,
          lazyload: lazyload,
          sizing_rule: sizing_rule,
          background_color: background_color,
          sizes: sizes
        -%}
      </div>
    {%- endfor -%}
  {%- endif -%}
  </div>
  {% if filtered_media_count > 1 %}
    {% render 'gridy-arrows' %}
  {% endif %}
</gridy-slider>
